[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylama = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
coreapi = "*"
django-storages = "*"
boto3 = "*"
celery = "*"
docker = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
